/* styles.css */

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background */
    color: #dcdcdc; /* Light text color */
    display: flex;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  
  .content {
    flex: 1;
    margin: 40px 20px;
  }
  
  section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2a2a2a; /* Darker background for sections */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #9c27b0; /* Violet accent color */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  .feature {
    list-style-type: disc;
      padding: 1em;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  a {
    color: #9c27b0; /* Violet accent color for links */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #7b1fa2; /* Darker violet on hover */
  }
  
  .image-container {
    flex: 1;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  /* Add more styles as needed */
  